<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
<title>Error</title>
</head>
<body>
<div th:replace="menu :: copy"></div>
<br>
<a th:href="${path}">back</a>
<table style="table-layout:fixed;width:100%;word-wrap:break-word;">
<colgroup>
    <col style="width:5%;">
    <col style="width:95%;">
</colgroup>
<tbody>
<tr><th></th><th>Error details</th></tr>
<tr><td>timestamp</td><td th:text="${timestamp}"></td></tr>
<tr><td>status</td><td th:text="${status}"></td></tr>
<tr><td>error</td><td th:text="${error}"></td></tr>
<tr><td>message</td><td th:text="${message}"></td></tr>
<tr><td>trace</td><td th:text="${trace}"></td></tr>
<tr><td>path</td><td th:text="${path}"></td></tr>
</tbody>
</table>
</body>
</html>