<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
<title>POI POC</title>
</head>
<body>
<div th:replace="menu :: copy"></div>
<br>
<form th:action="@{/exceldiffbypath}" th:object="${excelDiffByPathForm}" method="post" enctype="multipart/form-data">
Input absolute path for Excel
<table style="table-layout:fixed;width:45%;word-wrap:break-word;">
<colgroup>
    <col style="width:15%;">
    <col style="width:50%;">
    <col style="width:35%;">
</colgroup>
<tbody>
<tr><th>old file path</th><td><input type="text" th:field="*{oldfilePath}" th:maxlength="100" th:size="50" /></td><td th:if="${#fields.hasErrors('oldfilePath')}" th:errors="*{oldfilePath}" class="errorMessage">File Error</td></tr>
<tr><th>new file path</th><td><input type="text" th:field="*{newfilePath}" th:maxlength="100" th:size="50" /></td><td th:if="${#fields.hasErrors('newfilePath')}" th:errors="*{newfilePath}" class="errorMessage">File Error</td></tr>
</tbody>
</table>
<br>
<input type="submit" value="DIFF" class="submit"/>
</form>
<br>
<div th:if="${hasResult}">
Input File
<table>
<tbody>
<tr><th>old file</th><th>new file</th></tr>
<tr><td th:text="${excelDiffByPathForm.oldfilePath}"/><td th:text="${excelDiffByPathForm.newfilePath}"/></tr>
</tbody>
</table>
<br>
<div th:if="${!excelDiffByPathForm.hasDiffSheet and !excelDiffByPathForm.hasDiffCell and !excelDiffByPathForm.hasDiffMacro}">no difference between two files</div>


<div th:if="${excelDiffByPathForm.hasDiffSheet}">
WorkSheet difference
<table>
<tbody>
<tr><th>old file</th><th>new file</th><th>WorkSheet does not exit</th></tr>
<tr th:each="diffSheetItem : ${excelDiffByPathForm.diffSheetItemList}">
    <td th:text="${diffSheetItem.oldFileName}"/>
    <td th:text="${diffSheetItem.newFileName}"/>
    <td th:text="${diffSheetItem.sheetName}"/>    
</tr>
</tbody>
</table>
<br>
</div>

<div class="width100" th:if="${!excelDiffByPathForm.hasDiffSheet}">
There is no sheet difference.
</div>

<div class="width100" th:if="${excelDiffByPathForm.hasDiffCell}">
Cell difference
<table style="table-layout:fixed;width:100%;word-wrap:break-word;">
<colgroup>
    <col style="width:13%;">
    <col style="width:3%;">
    <col style="width:42%;">
    <col style="width:42%;">
</colgroup>
<tbody>
<tr><th>WorkSheet</th><th>cell</th><th>old value</th><th>new value</th></tr>
<tr th:each="diffCellItem : ${excelDiffByPathForm.diffCellItemList}">
    <td th:text="${diffCellItem.sheetName}"/>
    <td th:text="${diffCellItem.CellName}"/>
    <td th:text="${diffCellItem.oldHTMLCellValue}"/>
    <td th:utext="${diffCellItem.newHTMLCellValue}"/>
</tr>
</tbody>
</table>
</div>

<div class="width100" th:if="${!excelDiffByPathForm.hasDiffCell}">
There is no cell difference.
</div>

<br>
<div class="width100" th:if="${excelDiffByPathForm.hasDiffMacro}">
Macro difference
<table style="table-layout:fixed;width:100%;word-wrap:break-word;">
<colgroup>
    <col style="width:50%;">
    <col style="width:50%;">
</colgroup>
<tbody>
<tr><th>old macro</th><th>new macro</th></tr>
<tr th:each="diffMacroItem : ${excelDiffByPathForm.diffMacroItemList}">
    <td valign="top" th:utext="${diffMacroItem.oldHTMLMacroValue}"/>
    <td valign="top" th:utext="${diffMacroItem.newHTMLMacroValue}"/>
</tr>
</tbody>
</table>
</div>
</div>
</body>
</html>